@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.profile-pic-wrapper {
    margin-left: 10%;
    margin-top: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#submit {
    width: 142px;
    height: 30px;
    border-radius: 10px;
    border-width: 0.5px;
    background-color: whitesmoke;
}

.pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: white;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-holder .upload-file-block {
    cursor: pointer;
}

.username {
    margin-right: 10%;
    text-align: right;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    font-size: 20px;
}

#dName {
    padding-left: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    background-color: #e4e4e4;
    border-radius: 10px;
    display: inline-block;
}

#about {
    padding-left: 10px;
    padding-bottom: 160px;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    background-color: #e4e4e4;
    border-radius: 10px;
    text-align: start;
    display: inline-block;
}

.cancel {
    width: 35%;
    height: 30px;
    margin: 0% 4.25% 0% 10%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    background-color: #909090;
    border-radius: 10px;
    display: inline-block;
    border-width: 0;
}

.save {
    width: 35%;
    height: 30px;
    margin: 0% 10% 0% 4.25%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #9595c5;
    border-radius: 10px;
    display: inline-block;
    border-width: 0;
}

.display-name  {
    margin-left: 10%;
    font-weight: bold;
}

.about-me {
    margin-left: 10%;
    font-weight: bold;
}