@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

@media screen and (min-width: 701px) {
    .container {
        display: grid;
        height: 100vh;
        max-width: 100vw;
        overflow-y: scroll;
        grid-template-rows: 1fr 4fr 3fr 1fr;
        grid-template-columns: 1fr 3fr;
        padding: 0;
        margin: 0;
        margin-right: 0;
        background-color: #DDDDF0;
    }

    #footer {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        border-top: 0.5px solid #e4e4e4;
        margin-left: 2em;
        margin-top: 2em;
    }


    #footer ul {
        margin-bottom: 1.5em;
        padding: 0;
        bottom: 0;
        margin: 0em 1em 0em 1em;
        max-width: 100%;
        position: sticky;
        list-style-type: none;
    }

    ul li {
        padding: 0.8em 3em 0.8em 3em;
        font-size: 18px;
        border-radius: 10px;
        list-style-type: none;
    }

    ul li:hover {
        background-color: #9595c5;
        color: white;
        cursor: pointer;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.108), 0 5px 10px 0 rgba(0, 0, 0, 0.076);
    }

    .material-symbols-outlined {
        display: none;
    }

    #back {
        display: none;
    }

    #home {
        display: none;
    }

    #bookmark {
        display: none;
    }

    #add {
        display: none;
    }

    #inbox {
        display: none;
    }

    #notifications {
        display: none;
    }

    .logo {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        margin: 4em 0 0 2em;
    }

    #logo {
        width: 100%;
    }

    #pageName {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        margin: 2em 2em 0 2em;
        background-color: white;
        border-radius: 25px 25px 0 0;
    }

    #pageName h2 {
        margin: 2em;
        font-size: 35px;
    }

    .profile-pic-wrapper {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        margin: 0em 2em 0 2em;
        background-color: white;

    }

    .pic-holder {
        text-align: center;
        position: relative;
        margin-left: 4em;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .pic-holder .pic {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .pic-holder .upload-file-block,
    .pic-holder .upload-loader {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(90, 92, 105, 0.7);
        color: white;
        opacity: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #image-upload {
        opacity: 50%;
    }

    .pic-holder .upload-file-block {
        cursor: pointer;
        font-size: 50px !important;
    }

    .upload-file-block .material-symbols-outlined {
        font-size: 60px !important;
    }

    #edit {
        float: right;
        text-align: right;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #9595c5;
        margin-top: 2.5em;
        margin-right: 4em;
    }

    .username {
        float: right;
        text-align: right;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-top: 0.5em;
        margin-right: 4em;
    }

    .profile-update {
        grid-row: 2 / span 3;
        grid-column: 2 / span 1;
        margin: 14em 2em 2em 2em;
        background-color: white;
        border-radius: 0 0 25px 25px;
    }

    #profile-form {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 0 2em 0 2em;
        padding-right: 4em;
    }

    label {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 0 4em 0 4em;
    }


    .display-name {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 1em 4em 1em 4em;
        font-weight: bold;
        font-size: 18px;
    }

    #dName {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 0em 4em 0em 4em;
        font-size: 18px;
    }

    .about-me {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 1em 4em 1em 4em;
        font-weight: bold;
        font-size: 18px;
    }

    #about {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 0em 4em 0em 4em;
        font-size: 18px;
    }

    #bottomMenu {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        margin: 6em 2em 0em 2em;
    }

    #bottomMenu ul {
        margin-bottom: 1.5em;
        padding: 0;
        margin: 0em 1em 0em 1em;
        max-width: 100%;
        position: sticky;
        list-style-type: none;
    }
}







@media screen and (max-width: 700px) {
    .container {
        display: grid;
        height: 100vh;
        max-width: 100vw;
        grid-template-rows: 1fr 1fr 3fr 6fr 1fr;
        padding: 0;
        margin: 0;
        margin-right: 0;
    }

    .logo {
        max-width: 0;
        max-height: 0;
    }

    img {
        display: none;
    }

    .nav {
        grid-row: 1 / span 1;
        max-width: 100%;
        border-bottom: 0.5px solid #e4e4e4;
    }

    .nav ul {
        padding: 0;
        bottom: 0;
        margin: 0em 1em 0em 1em;
        max-width: 100%;
        position: sticky;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    #back {
        margin-top: 30px;
        margin-left: 1em;
        background-color: transparent;
        border: none;
        padding-left: 0;
        color: #909090;
    }

    .material-symbols-outlined {
        font-size: 30px !important;
        font-weight: bold !important;
    }

    #pageName {
        grid-row: 2 / span 1;
        margin: 0em 1em 0em 1em;
        margin-bottom: 0;
    }

    #pageName h2 {
        margin-top: 30px;
        font-size: 25px;
    }

    .profile-pic-wrapper {
        grid-row: 3 / span 1;
        margin: 0 1em 0 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pic {
        text-align: center;
        position: relative;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .pic-holder {
        text-align: center;
        position: relative;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #edit {
        float: right;
        text-align: right;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #9595c5;
    }


    .pic-holder .pic {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .pic-holder .upload-file-block,
    .pic-holder .upload-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(90, 92, 105, 0.7);
        color: white;
        opacity: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #image-upload {
        height: 0px;
    }

    .pic-holder .upload-file-block {
        cursor: pointer;
        font-size: 50px !important;
    }

    .upload-file-block .material-symbols-outlined {
        font-size: 60px !important;
    }

    .profile-update {
        grid-row: 4 / span 1;
        margin: 0 1em 0 1em;
    }

    label {
        padding-top: 0;
        text-align: left;
        max-width: 100%;

    }

    .display-name {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        font-weight: bold;
        margin: 2em 0em 2em 0em;
    }
    
    #dName {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 1em 0em 1em 0em;
    }

    .about-me {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        font-weight: bold;
        margin: 2em 0em 2em 0em;
    }

    #about {
        padding-top: 0;
        text-align: left;
        max-width: 100%;
        margin: 1em 0em 1em 0em;
    }

    .username {
        float: right;
        text-align: right;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 18px;
    }

    #footer {
        grid-row: 6 / span 1;
        border-top: 0.5px solid #e4e4e4;
    }

    #footer ul {
        margin-bottom: 1.5em;
        padding: 0;
        bottom: 0;
        margin: 0em 1em 1.5em 1em;
        max-width: 100%;
        position: sticky;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    ul li {
        display: inline;
        padding-top: 5px;
    }

    ul a {
        transition: all 0.3s ease;
        color: #909090;
        font-size: 25px;
    }

    ul b {
        display: none;
    }

    li a:active {
        transition: all 0.3s ease;
        color: black !important;
    }

    li .active {
        transition: all 0.3s ease;
        color: black !important;
    }

    #bottomMenu {
        display: none;
    }
}