body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

button {
    transition-duration: 0.4s;
}

button:hover {
    background-color: #8d8dbb;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 701px) {

    .container {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 20% 60% 20%;
        grid-template-columns: 50% 50%;
    }

    .box1 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        place-items: center;
    }

    .box1 p {
        font-size: 20px;
    }

    img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 4em;
        z-index: 0;
    }

    .logo {
        position: sticky;
        z-index: 0;
    }

    .box2 {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        padding: 0 3em 0 3em;
    }

    #loginForm {
        align-items: center;
        width: 80%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.108), 0 5px 10px 0 rgba(0, 0, 0, 0.076);
        border-radius: 20px;
        padding: 70px 0;
        padding: 2em;
        max-height: 100%;
        z-index: 1;
    }

    #loginForm h3 {
        font-size: 30px;
        text-align: center;
    }

    #psw {
        margin: 0;
        width: 100%;
    }

    form i {
        float: right;
        right: 10px;
        margin-left: -40px;
        margin-top: -41px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        width: 100%;
        height: 40px;
        margin: 5px 0 12px 0;
        display: block;
        border: none;
        border-radius: 10px;
        background: #e4e4e4;
        padding-left: 10px;
        font-size: 16px;
        box-sizing: border-box;
    }

    #username {
        margin-top: 2em;
    }

    ::placeholder {
        color: #909090;
        font-family: 'Inter', sans-serif !important;
    }

    button {
        background-color: #9595c5;
        border: none;
        color: white;
        height: 40px;
        width: 100%;
        margin-top: 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 20px;
    }

    p {
        text-align: center;
        margin: 20px;
        font-size: 14px;
        color: black;
        font-family: 'Inter', sans-serif;
    }

    p a {
        color: black;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
    }

    p b {
        color: #9595c5;
    }

    #errorMsg {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: red;
    }

    #easterEgg {
        display: none;
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        -o-object-fit: contain;
        object-fit: contain;
        z-index: 2;
    }
}

@media screen and (max-width: 700px) {
    .container {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 2.5fr 5fr
    }

    .box1 {
        grid-row: 1 / span 1;
    }

    .box1 p {
        display: none;
    }

    img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .logo {
        position: sticky;
        top: 13em;

    }

    .box2 {
        grid-row: 2 / span 1;
        padding: 3em 3em 3em 3em;
    }

    .box2 h3 {
        font-size: 20px;
        text-align: center;
    }

    #loginForm {
        align-items: center;
        width: 100%;
    }

    #loginForm {
        text-align: center;
        font-size: 18px;
    }

    #psw {
        margin: 0;
        width: 100%;
    }

    #psw i {
        margin-left: -30px;
        cursor: pointer;
    }

    form i {
        float: right;
        right: 10px;
        margin-left: -40px;
        margin-top: 15px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        width: 100%;
        height: 40px;
        margin: 5px 0 12px 0;
        display: inline-block;
        border: none;
        border-radius: 10px;
        background: #e4e4e4;
        font-size: 14px;
        padding-left: 10px;
        box-sizing: border-box;
    }

    ::placeholder {
        color: #909090;
        font-family: 'Inter', sans-serif !important;
    }

    button {
        background-color: #9595c5;
        border: none;
        color: white;
        padding: 10px 32px;
        height: 40px;
        width: 100%;
        margin-top: 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 18px;
    }

    p {
        text-align: center;
        margin: 20px;
        font-size: 14px;
        color: black;
        font-family: 'Inter', sans-serif;
    }

    p b {
        color: #9595c5;
    }

    p a {
        color: black;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
    }

    #errorMsg {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: red;
    }

    #easterEgg {
        display: none;
        height: 0;
        width: 0;
    }
}