body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  align-items: center;
}

h2 {
  margin: 10px;
  
}

#mainBody {
  align-items: center;
}

table {
    background-color: white;
  }

  td {
    padding: 4px;
    text-align: center;
  }

  form {
    width: 80%;
    padding-top: 2em;
  }



  #box1{
    display: gird;
    height: 40vh;
    
  }
fieldset {
  display: grid;
  grid-template-columns: 1fr;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 80vw;
    height: 40px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #e4e4e4;
}

input[type=button] {
  background-color: #9595c5;
  border: none;
  color: white;
  padding: 10px 32px;
  height: 40px;
  width: 25%;
  margin-top: 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 18px;
}